<button class="open-button" (click)="toggleForm()">Add Student</button>

<div *ngIf="showForm" class="form-popup" id="myForm">
  <div class="form-container">
    <h2>Create Student</h2>

    <input id = "fnameInput" type = "text" required minlength="3" placeholder="Enter First Name" [(ngModel)]="fname"/>
    <input id = "lnameInput" type = "text" required minlength="3" placeholder="Enter Last Name" [(ngModel)]="lname"/>
    <input id = "gnameInput" type = "text" required minlength="3" placeholder="Enter Guardian Name" [(ngModel)]="gname"/>

    <button class="btn" (click)="addStudent()">Submit</button>
    <button type="button" class="btn cancel" (click)="toggleForm()">Close</button>
  </div>
</div>
