<app-add-grade *ngIf="curUser.role === 'teacher'"></app-add-grade>
<h3>Student's Grades</h3>
<div class="grades-container">
<table class="table mt-4 table-hover table-striped" id="grade-list">
    <thead>
        <tr id="row">
            <th id="gid-header" style="width: 10%">Grade ID</th>
            <th id="sid-header" style="width: 10%">Student ID</th>
            <th style="width: 20%">Time Reported</th>
            <th style="width: 20%">Notes</th>
            <th style="width: 20%">Behavior</th>
            <th style="width: 20%">Actions</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-light" *ngFor="let g of gradeList">
            <td id="gid">{{g.gid}}</td>
            <td id="sid">{{g.sid}}</td>
            <td>{{g.treported | date:'medium'}}</td>
            <td>{{g.note}}</td>
            <td>{{g.behavior}}</td>
            <td><button *ngIf="curUser.role === 'teacher'" type="button" class="btn bg-danger bg-opacity-50" (click)="deleteGrade(g.gid)">Delete</button></td>
        </tr>
    </tbody>
</table>
</div>
