<app-add-grade></app-add-grade>
<h3>Student's Grades</h3>
<div class="grades-container">
<table class="table mt-4 table-hover table-striped" id="grade-list">
    <thead>
        <tr id="row">
            <th id="gid-header" style="width: 10%">Grade ID</th>
            <th id="sid-header" style="width: 10%">Student ID</th>
            <th style="width: 26.66%">Time Reported</th>
            <th style="width: 26.66%">Notes</th>
            <th style="width: 26.66%">Behavior</th>
        </tr>
    </thead>
    <tbody>
        <tr class="table-light" *ngFor="let g of gradeList">
            <td id="gid">{{g.gid}}</td>
            <td id="sid">{{g.sid}}</td>
            <td>{{g.treported | date:'medium'}}</td>
            <td>{{g.note}}</td>
            <td>{{g.behavior}}</td>
        </tr>
    </tbody>
</table>
</div>
