<div id="search-student-form">

  <form ngNativeValidate [formGroup]="searchForm" (ngSubmit)="onSubmit()">
    <div class="input-group mb-2" id="student-search-bar">
      <input #firstnameInput id="firstname-input" formControlName="first" type="search" 
        class="form-control rounded me-3" placeholder="First Name" aria-label="First Name" aria-describedby="search-addon" required/>
      <input #lastnameInput id="lastname-input" formControlName="last" type="search" 
        class="form-control rounded me-2" placeholder="Last Name" aria-label="Last Name" aria-describedby="search-addon" required/>
      <button type="submit" class="btn btn-outline-success rounded">search</button>
    </div>
  </form>

  
  <div *ngIf="students.length !==0">
    <table class="table mb-5" id="search-list">
      <thead class="text-center">
        <tr><th colspan="4">Search Results</th></tr>
      </thead>
      <tbody>
          <tr *ngFor="let student of students; let i = index">
              <td>{{i+1}}</td>
              <td>{{student.fname + " " + student.lname}}</td>
              <td>{{student.gname}}</td>
              <td>
                <button type="button" class="btn btn-outline-primary me-2" [routerLink]="['/grades', student.sid]">View Grades</button>
                <button type="button" class="btn btn-outline-danger" (click)="deletStudent(student.sid)">Delete</button>
              </td>
          </tr>
      </tbody>
    </table>
  </div>
</div>
