<h4>
  Log-in Form
</h4>

<div id="login-in-form">
  <form ngNativeValidate (ngSubmit)="onLogin()">

    <div>
      <label for="username">Username</label>
      <input id="username"
             type="text"
             name="username"
             [(ngModel)]="login.username" required/>
    </div>

    <div>
      <label for="password">Password</label>
      <input id="password"
             type="password"
             name="password"
             [(ngModel)]="login.password" required/>
    </div>

    <div>
      <button mat-raised-button>Login</button>
    </div>

  </form>
</div>

