<app-add-student *ngIf="curUser.role === 'teacher'"></app-add-student>
<div class="students-container">
  <app-search-student *ngIf="curUser.role === 'teacher'"></app-search-student>
  <table class="table mt-4" id="student-list">
      <thead>
        <tr>
          <th>#</th>
          <th>Student Name</th>
          <th>Guardian Name</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let student of studentList; let i = index">
              <td style="width: 10px;">{{i+1}}</td>
              <td>{{student.fname + " " + student.lname}}</td>
              <td>{{student.gname}}</td>
              <td>
                <button type="button" class="btn btn-outline-primary me-2" [routerLink]="['/grades', student.sid]">View Grades</button>
                <button *ngIf="curUser.role === 'teacher'" type="button" class="btn btn-outline-danger" (click)="deletStudent(student.sid)">Delete</button>
              </td>
          </tr>
      </tbody>
  </table>
</div>